.container{
    width:400px;
    margin: 10px auto;
}
fieldset{
    border:1px solid black;
    border-radius: 10px;
}
h4{
    margin-left:70px;
}
.form-control{
    width:200px;
}
#dob{
    width:200px;
    border-radius:5px;
    border:1px solid lightgray;
    height:38px;
}
button{
    width:60px;
    margin-left:160px;
    margin-bottom:10px;
}
form{
    background-color: lemonchiffon;
}
.col-md-4{
    padding-left:40px;
}
label{
    font-weight: bold;
}